@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono&family=Vazirmatn&display=swap");
:root {
    --font: "Comfortaa", "Roboto Mono", "Vazirmatn";
}
.logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 5em;
}
.mainText {
    font-family: "Comfortaa", "Roboto Mono", "Vazirmatn";
    font-size: 1.5em;
    font-variant: no-common-ligatures;
    line-height: 1.2em;
    font-weight: 400;
    width: 75%;
    text-align: justify;
    max-lines: 2;
    padding: 2rem;
    border-radius: 7px;
}

.mainInput {
    width: 250px;
    height: 3rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 250, 250, 0.099);
    font-size: 1.5em;
    color: rgba(230, 230, 250, 0.631);
    text-align: center;
    padding-block: 0.5em;
    outline: none;
}

.accuracyTitle,
.wpmTitle {
    font-size: 2rem;
    line-height: 1.5rem;
}

.accuracy,
.wpm {
    font-size: 4rem;
    line-height: 4rem;
    font-family: "Comfortaa", "Roboto Mono", "Vazirmatn";
    font-weight: 400;
}

.actionButtons {
    display: flex;
    gap: 2rem;
}

.restartButton {
    margin-top: 1rem;
    cursor: pointer;
}
.restartButton p {
    margin-top: -0.5rem;
    font-size: 80%;
}

.wordCountButtons {
    display: flex;
    gap: 0.5rem;
}

.wordCountButtons button {
    border: none;
    font-family: "Comfortaa", "Roboto Mono", "Vazirmatn";
    padding: 0.5rem;
    background-color: rgb(213, 231, 231);
    cursor: pointer;
}

.userNameHeader {
    color: rgb(60, 121, 144);
}

.footer {
    background-color: #171a1f;
    height: 20vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 1rem;
    margin-top: 25vh;
    text-align: center;
    font-size: 4rem;
    font-family: var(--font);
    font-weight: 500;
    outline: none;
    color: rgb(28, 108, 144);
}

.connectButton {
    background-color: rgb(28, 108, 144);
    border: none;
    border-radius: 7px;
    /* width: 10em; */
    height: 3em;
    padding: 1em;
    font-size: 2rem;
    font-family: var(--font);
    cursor: pointer;
}

.leaderBoardTable thead > th,
.leaderBoardTable > tbody td {
    border: 1px solid black;
    border-collapse: separate;
    padding: 1rem;
    text-align: center;
}

.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
